In [21]:
import pandas as pd
from impala.dbapi import connect
from impala.util import as_pandas
import ast
import math
import redis_io as redis_io


def get_most_popular_products(req_cate_name):

    # Redis read cache value
    #REDIS_KEY = "product_category_info"
    #cached_data = redis_io.read_dict_transaction(REDIS_KEY,req_cate_name)

    #if cached_data != None:
    #    return ast.literal_eval(cached_data[0])

    conn = connect(host='salest-master-server', port=21050)
    cur = conn.cursor()
    cur.execute('USE salest')

    dict_product_cate_items = {}

    # Category Items

    queryStr = """
            SELECT DISTINCT cate_name FROM ext_menumap_info
            """

    cur.execute(queryStr)
    df_categories = as_pandas(cur)

    dict_product_cate_items['All'] = df_categories['cate_name'].values.tolist()


    # Most 10 papular items per each category

    for cate_name in dict_product_cate_items['All']:
        queryStr = """
            SELECT product_name, SUM(sales_amount) AS total_amount
            FROM
            (
                SELECT cate_name,product_name,date_receipt_num,sales_amount
                FROM 
                    (SELECT * FROM ext_menumap_info WHERE cate_name = '""" + cate_name + """' ) view_specific_menu JOIN ext_tr_receipt USING (product_code)
            ) view_tr_specific_cate_menu
            GROUP BY (view_tr_specific_cate_menu.product_name)
            ORDER BY (SUM(sales_amount)) DESC
            LIMIT 10
            """
    cur.execute(queryStr)
    
    df_papular_products = as_pandas(cur)
    conn.close()
    
    return df_papular_products

    df_papular_products = df_papular_products[df_papular_products.total_amount != 0]
    dict_product_cate_items[cate_name] = df_papular_products['product_name'].values.tolist()

    # Redis save cache value
    #redis_io.write_dict_transaction(REDIS_KEY, dict_product_cate_items, 60*60*24)
    #
    return dict_product_cate_items[req_cate_name]

result_list = get_most_popular_products('All')
result_list
#for i in result_list:
#    print i

  product_name  total_amount
0   더치원액1000ml        832000
1    더치원액500ml        788300
2   아이스더치아메리카노        572000
3      더치아메리카노        244000
4       더치카페라떼         36000
5    아이스더치카페라떼          4500

In [10]:
import pandas as pd
from impala.dbapi import connect
from impala.util import as_pandas
import ast
import math
import redis_io as redis_io


def get_product_data(product_name):
    
    # Redis read cache value
    REDIS_KEY_PREFIX = "popular_product_info"
    
    def get_cach_value(product_name):
        cache_data = redis_io.read_dict_transaction(REDIS_KEY_PREFIX + ":" + product_name, ['product_code','price'])
        if cache_data == None:
            return None
    
        dict_data = {}
        dict_data['product_code'] = cache_data[0]
        dict_data['price'] = cache_data[1]
        return dict_data
    

    cached_data = get_cach_value(product_name)
    if cached_data != None:
        return cached_data
    
    conn = connect(host='salest-master-server', port=21050)
    cur = conn.cursor()
    cur.execute('USE salest')
  
    queryStr = """SELECT product_name,price,product_code FROM ext_menumap_info"""
    
    cur.execute(queryStr)
    df_categories = as_pandas(cur)

    df_categories = df_categories[df_categories.price != 0]
    #df_categories.set_index('product_name', inplace=True)
    
    for idx,row in df_categories.iterrows():
        key = "{0}:{1}".format(REDIS_KEY_PREFIX,row.product_name)
        value = row[['product_code','price']].to_dict()
        redis_io.write_dict_transaction(key, value, 60*60)
        
    cached_data = redis_io.read_dict_transaction(REDIS_KEY_PREFIX + ":" + product_name, ['product_code','price'])
    return get_cach_value(product_name)


get_product_data('아메리카노')

{'price': '2500', 'product_code': '4'}

In [10]:
import pandas as pd
from impala.dbapi import connect
from impala.util import as_pandas
import ast
import math
import redis_io as redis_io

redis_io.get_transaction_incr_counter("2016-05-07")

'4'

In [4]:
import pandas as pd
from impala.dbapi import connect
from impala.util import as_pandas
import ast
import math
import redis_io as redis_io
from pandas.tseries.offsets import MonthEnd
from dateutil.parser import parse
import numpy as np

def get_past_target_date(date_year_mon_day):
    
    day_of_week_map = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']

    date_val = parse(date_year_mon_day)

    last_day_of_month = (date_val + MonthEnd()).day
    week_number = (date_val.day - 1) // 7 + 1
    
    freq_faram = "WOM-{0}{1}".format(week_number, day_of_week_map[date_val.weekday()])

    last_year_day_start = "{0}-{1}-01".format(date_val.year-1, date_val.month)
    last_year_day_end =  "{0}-{1}-{2}".format(date_val.year-1, date_val.month, last_day_of_month)

    target_date_idx = pd.date_range(last_year_day_start, last_year_day_end, freq=freq_faram)

    date_list = target_date_idx.strftime('%Y-%m-%d').tolist()
    return date_list


def get_timebase_data_on_past_specific_date(cur_date):
    
    # Redis read cache value
    REDIS_KEY_PREFIX = "past_timebase_data_of"
    
    def get_cach_value(cur_date):
        cache_data = redis_io.read_dict_transaction(REDIS_KEY_PREFIX + ":" + cur_date)
        if cache_data == None:
            return None
        print cache_data
        
    #cached_data = get_cach_value(cur_date)
    #if cached_data != None:
    #    return cached_data
    
    
    conn = connect(host='salest-master-server', port=21050)
    cur = conn.cursor()

    cur.execute('USE salest')
    
    date_list = tuple(get_past_target_date(cur_date))

    cur.execute(
    """
        SELECT time_hour, CAST(SUM(sales_amount) as INTEGER) AS total_amount, 
        COUNT(sales_amount) as num_of_transaction,
        COUNT(DISTINCT year_month_day) as date_count
        FROM(
            SELECT SUBSTR(date_receipt_num,1,10) AS year_month_day,
            SUBSTR(tr_time,1,2) AS time_hour,
            sales_amount
            FROM ext_tr_receipt WHERE SUBSTR(date_receipt_num,1,10) IN ('%s')
            """ % date_list +
            """
        ) view_tr_total_amount_by_dayofweek
        GROUP BY time_hour ORDER BY time_hour ASC
        """
    )
    df_by_hour = as_pandas(cur)
    conn.close()
    
    df_by_hour.set_index('time_hour',inplace=True)
    df_by_hour = df_by_hour.reindex([[str(i) for i in np.arange(10,24)]],fill_value=0)

    dict_result = df_by_hour['total_amount'].to_dict()
    dict_result['date'] = date_list[0]
     
    #redis_io.write_dict_transaction(REDIS_KEY_PREFIX + ":" + cur_date, dict_result, 60*60)
        
    return dict_result

df_test = get_timebase_data_on_past_specific_date("2016-05-09")
df_test

{'10': 0,
 '11': 0,
 '12': 0,
 '13': 10600,
 '14': 15700,
 '15': 5000,
 '16': 13100,
 '17': 7500,
 '18': 9000,
 '19': 26800,
 '20': 0,
 '21': 5000,
 '22': 13200,
 '23': 0,
 'date': '2015-05-11'}

In [1]:
import redis_io as redis_io

REDIS_KEY_PREFIX = "past_timebase_data_of"

redis_io.read_dict_transaction(REDIS_KEY_PREFIX + ":" + "2016-05-09")

{'10': '0',
 '11': '0',
 '12': '0',
 '13': '10600',
 '14': '15700',
 '15': '5000',
 '16': '13100',
 '17': '7500',
 '18': '9000',
 '19': '26800',
 '20': '0',
 '21': '5000',
 '22': '13200',
 '23': '0',
 'date': '2015-05-11'}

In [8]:
import redis_io as redis_io
import numpy as np

def get_timebase_data_on_today_specific_date(cur_date):
    
    # Redis read cache value
    REDIS_KEY_PREFIX = "today_timebase_data_of"
    
    dictData = {}
    
    for time_idx in np.arange(10,24):
        cache_value = redis_io.read_transaction("{0}:{1}:{2}".format(REDIS_KEY_PREFIX,cur_date,time_idx))
        if cache_value != None:
            dictData[time_idx] = str(cache_value)
        else:
            dictData[time_idx] = str(0)
        
    return dictData

get_timebase_data_on_today_specific_date("2016-05-09")

{10: '0',
 11: '0',
 12: '0',
 13: '36500',
 14: '85900',
 15: '0',
 16: '0',
 17: '0',
 18: '0',
 19: '0',
 20: '103200',
 21: '101900',
 22: '204600',
 23: '0'}

In [1]:
import pandas as pd
from impala.dbapi import connect
from impala.util import as_pandas
import ast
import math
import redis_io as redis_io

def get_timebase_data_on_past_specific_date(cur_date):
    
    # Redis read cache value
    REDIS_KEY_PREFIX = "past_timebase_data_of"
    
    def get_cach_value(cur_date):
        return redis_io.read_dict_transaction(REDIS_KEY_PREFIX + ":" + cur_date) 
    
    cached_data = get_cach_value(cur_date)
    if cached_data != None:
        return cached_data
    
    
    conn = connect(host='salest-master-server', port=21050)
    cur = conn.cursor()

    cur.execute('USE salest')
    
    date_list = tuple(get_past_target_date(cur_date))

    cur.execute(
    """
        SELECT time_hour, CAST(SUM(sales_amount) as INTEGER) AS total_amount, 
        COUNT(sales_amount) as num_of_transaction,
        COUNT(DISTINCT year_month_day) as date_count
        FROM(
            SELECT SUBSTR(date_receipt_num,1,10) AS year_month_day,
            SUBSTR(tr_time,1,2) AS time_hour,
            sales_amount
            FROM ext_tr_receipt WHERE SUBSTR(date_receipt_num,1,10) IN ('%s')
            """ % date_list +
            """
        ) view_tr_total_amount_by_dayofweek
        GROUP BY time_hour ORDER BY time_hour ASC
        """
    )
    df_by_hour = as_pandas(cur)
    conn.close()
    
    df_by_hour.set_index('time_hour',inplace=True)
    df_by_hour = df_by_hour.reindex([[str(i) for i in np.arange(10,24)]],fill_value=0)

    dict_result = df_by_hour['total_amount'].to_dict()
    dict_result['date'] = date_list[0]
     
    redis_io.write_dict_transaction(REDIS_KEY_PREFIX + ":" + cur_date, dict_result, 60*60)
    
    ret_dict = get_cach_value(cur_date)

    return ret_dict

get_timebase_data_on_past_specific_date("2016-05-10")

{'10': '0',
 '11': '0',
 '12': '3800',
 '13': '28900',
 '14': '50600',
 '15': '28800',
 '16': '29600',
 '17': '25000',
 '18': '24000',
 '19': '7100',
 '20': '12200',
 '21': '25700',
 '22': '14400',
 '23': '0',
 'date': '2015-05-12'}